<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<section class="container">
    <section class="code">
        <section class="code_buttons">
            <button>Editable Mode</button>
            <button>Save CSS file</button>
        </section>
        <section class="code_output">
            <textarea name="code_output" id="code_output" cols="89" rows="40"></textarea>
        </section>
    </section>
</section>
</body>
</html>