html, body {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

.wrapper {
    margin: auto;
    max-width: 100%;
    background-color: #26a69a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0;
}

