<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Paragraph</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<section class="container">
    <section class="text_para">
        <label for="text_to_change" class="label_for_text_to_change">Type here: </label>
        <p>
            <input type="text" id="text_to_change" class="text_to_change">
        </p>
        <button id="random_text">Randomize text</button>
        <button id="reset_text">Reset</button>
        <button id="change_line_number">Make multi-line</button>
    </section>
</section>
</body>
</html>